@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
}

/* Shared CSS */
.container{
    width: 1140px;
    margin: 0 auto;
}
.flex{
    display: flex;
    justify-content: space-between;
}

h1, h2, h3, h4, h5, h6, p, a{
    text-decoration: none;
    color: rgb(13, 19, 33);
}

.btn{
    padding: 21px 24px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    border: none;
}

.title{
    font-size: 32px;
    font-weight: 800;
}

.short-desc{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

main section .short-desc{
    margin: 24px 0;
    padding: 0 80px;
}

main section{
    margin: 80px 0;
}


/* Header + Nav + banner Css */
header nav{
    padding: 30px 0;
    align-items: center;
}

header nav .logo{
    font-size: 28px;
    font-weight: 800;
}

header nav .download{
    font-size: 20px;
    font-weight: 600;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    padding: 17px 24px;
    
}

header .banner{
    padding: 20px 0;
    background: url(assets/Hero-bg.png) no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

header .banner .banner-content{
    flex-direction: column;
    align-items: center;
    width: 998px;
    margin: 0 auto;
}

header .banner .banner-content .banner-element{
    padding: 15px 0;
}

header .banner .banner-content img{
    max-width: 200px;
}

header .banner .banner-content h1{
    font-size: 42px;
    font-weight: 800;
}


/* Reason CSS */
.reason .container{
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    padding: 80px 95px;
    text-align: center;
}

.reason > .container > .short-desc{
    margin-bottom: 60px;
}

.reason .reason-wrap{
    padding: 35px 0;
    text-align: left;
}

.reason .reason-wrap .single-reason{
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.reason .reason-wrap .single-reason p{
    padding: 0;
}

.reason .reason-wrap .reason-img{
    flex-basis: 40%;
}

.reason .reason-wrap:nth-child(odd) .reason-img{
    align-items: end;
}

.reason .reason-wrap .single-reason h3{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.reason .reason-wrap .single-reason a{
    color: rgba(13, 19, 33, 0.7);
    font-size: 20px;
    font-weight: 600;
    padding: 12px 20px;
    border: 1px solid rgba(13, 19, 33, 0.7);
}


/* Inspiration CSS */
.inspiration{
    text-align: center;
}

.inspiration .video-wrap{
    margin-top: 60px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 32px;
}

.inspiration .video-wrap iframe{
    width: 100%;
    height: 550px;
}


/* Current Target CSS */
.current-target{
    text-align: center;
}

.current-target .targets-wrap{
    text-align: left;
    gap: 5%;
    margin-top: 60px;
}

.current-target  .targets-wrap .single-target{
    flex-basis: 30%;
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}

.current-target  .targets-wrap .css{
    background: rgba(0, 76, 232, 0.05);
}

.current-target  .targets-wrap .js{
    background: rgba(255, 223, 0, 0.05)
}

.current-target  .targets-wrap .single-target p{
    padding: 0;
}

.current-target  .targets-wrap .single-target a{
    font-size: 16px;
    font-weight: 700;
    border-bottom: 2px solid rgb(13, 19, 33);
}

/* Support CSS */
.support .container{
    border-radius: 16px;
    text-align: center;
    background: linear-gradient(#00000063, #0000007a), url(assets/handshake.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding: 64px 0;
}

.support .container h2{
    color: #fff;
}

.support .container p{
    color: #fff;
    opacity: .7;
    margin: 10px 0;
}

.support form{
    width: 800px;
    margin: auto;
    gap: 18px;
    margin-top: 60px;
}

.support form input{
    padding: 19px 20px;
    background: #fff;
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
    border: none;
}

.support form button{
    padding: 19px 30px;
    background: #fff;
    color: rgb(13, 19, 33);
}


/* Footer CSS */
footer{
    padding: 32px 0;
    background: rgba(13, 19, 33, 0.03);
}

footer .container{
    align-items: center;
}

footer .short-desc{
    font-size: 20px;
}

footer a{
    margin: 0 5px;
}