@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
}

/* Shared CSS */
.container{
    width: 1140px;
    margin: 0 auto;
}
.flex{
    display: flex;
    justify-content: space-between;
}

h1, h2, h3, h4, h5, h6, p, a{
    text-decoration: none;
    color: rgb(13, 19, 33);
}

.title{
    font-size: 32px;
    font-weight: 800;
}

.short-desc{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

main section .short-desc{
    margin: 24px 0;
    padding: 0 80px;
}

main section{
    margin-top: 80px;
}


/* Header + Nav + banner Css */
header nav{
    padding: 30px 0;
    align-items: center;
}

header nav .logo{
    font-size: 28px;
    font-weight: 800;
}

header nav .download{
    font-size: 20px;
    font-weight: 600;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    padding: 17px 24px;
    
}

header .banner{
    padding: 20px 0;
    background: url(assets/Hero-bg.png) no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

header .banner .banner-content{
    flex-direction: column;
    align-items: center;
    width: 998px;
    margin: 0 auto;
}

header .banner .banner-content .banner-element{
    padding: 15px 0;
}

header .banner .banner-content img{
    max-width: 200px;
}

header .banner .banner-content h1{
    font-size: 42px;
    font-weight: 800;
}

header .banner .banner-content a{
    padding: 21px 24px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
}


/* Reason CSS */
.reason .container{
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    padding: 80px 95px;
    text-align: center;
}

.reason > .container > .short-desc{
    margin-bottom: 60px;
}

.reason .reason-wrap{
    padding: 35px 0;
    text-align: left;
}

.reason .reason-wrap .single-reason{
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.reason .reason-wrap .single-reason p{
    padding: 0;
}

.reason .reason-wrap .reason-img{
    flex-basis: 40%;
}

.reason .reason-wrap:nth-child(odd) .reason-img{
    align-items: end;
}

.reason .reason-wrap .single-reason h3{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.reason .reason-wrap .single-reason a{
    color: rgba(13, 19, 33, 0.7);
    font-size: 20px;
    font-weight: 600;
    padding: 12px 20px;
    border: 1px solid rgba(13, 19, 33, 0.7);
    
}

.inspiration{
    text-align: center;
}

.inspiration p{
}

.inspiration .video-wrap{
    margin-top: 60px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 32px;
}

.inspiration .video-wrap iframe{
    width: 100%;
    height: 550px;
}